<%
// プロパティ
const meta = (() => {
    const { title } = props;
    return {
        siteName : '採用課題',
        title : title ? title : 'ページタイトル'
    }
})();
-%>
<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title><%= meta.title -%> | <%= meta.siteName -%></title>

<%# favicon -%>
<link rel="shortcut icon" href="/favicon.ico">

<%# style/script -%>
<link rel="stylesheet" href="/css/vendor/ress.min.css">
<link rel="stylesheet" href="/css/style.min.css">
<script src="/js/script.js" defer></script>
</head>
<body>
