<div class="c-hamburger">
    <!-- TODO: ハンバーガーボタンのHTMLはこちら -->
    <button type="button" class="menu-btn is-hide" id="js-scroll-hide">
        <i class="fa fa-bars" aria-hidden="true">
            <p>MENU</p>
        </i>
        <i class="close-hamburger fa-display" aria-hidden="true">
            <p>CLOSE</p>
        </i>
    </button>
    <div class="menu">
        <div class="menu__item"><a href="">会社概要</a></div>
        <div class="menu__item">お知らせ</div>
        <div class="menu__item">サービス</div>
        <div class="menu__item">制作実績</div>
        <div class="menu__item">採用情報</div>
        <a href=""><div class="menu__item contact">お問い合わせ</div></a>
    </div>
</div>
