<nav id="menu" class="l-globalNav" aria-hidden="true">
    <ul class="l-globalNav__list">
        <li class="l-globalNav__item">
            <a href="" class="l-globalNav__itemLink">会社紹介</a>
        </li>
        <li class="l-globalNav__item">
            <a href="" class="l-globalNav__itemLink">お知らせ</a>
        </li>
        <li class="l-globalNav__item">
            <a href="" class="l-globalNav__itemLink">サービス</a>
        </li>
        <li class="l-globalNav__item">
            <a href="" class="l-globalNav__itemLink">制作実績</a>
        </li>
        <li class="l-globalNav__item">
            <a href="" class="l-globalNav__itemLink">採用情報</a>
        </li>
        <li class="l-globalNav__item">
            <a href="" class="l-globalNav__itemLink">お問い合わせ</a>
        </li>
    </ul>
</nav>