<header class="l-header">
    <div class="l-header__inner">
        <div class="l-header__meta">
            <h1 class="l-header__heading">株式会社FLAT</h1>
            <p role="doc-subtitle" class="l-header__subHeading">渋谷のコーディング専門プロダクション</p>
            <div class="l-header__logo">
                <a href="/" class="l-header__logoLink" title="トップページへ戻る">
                    <img src="/img/common/logo.svg" alt="XD" width="128" height="128" decoding="async" class="l-header__logoImage">
                </a>
            </div>
        </div>
        <div class="l-header__nav">
            <%- include('_l-globalNav') -%>
        </div>
        <%- include('_c-hamburger') -%>
    </div>
</header>
